@font-face {
    font-family:'Gilroy';
    src: url('../assets/fonts/Gilroy-Bold.eot');
	src: url('../assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../assets/fonts/Gilroy-Bold.woff') format('woff'),
		url('../assets/fonts/Gilroy-Bold.svg#Gilroy-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Gilroy';
    src: url('../assets/fonts/Gilroy-Extrabold.eot');
	src: url('../assets/fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Gilroy-Extrabold.woff2') format('woff2'),
		url('../assets/fonts/Gilroy-Extrabold.woff') format('woff'),
		url('../assets/fonts/Gilroy-Extrabold.svg#Gilroy-Extrabold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Gilroy';
    src: url('../assets/fonts/Gilroy-Medium.eot');
	src: url('../assets/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../assets/fonts/Gilroy-Medium.woff') format('woff'),
		url('../assets/fonts/Gilroy-Medium.svg#Gilroy-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Gilroy';
    src: url('../assets/fonts/Gilroy-Regular.eot');
	src: url('../assets/fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../assets/fonts/Gilroy-Regular.woff') format('woff'),
		url('../assets/fonts/Gilroy-Regular.svg#Gilroy-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}

@font-face {
    font-family:'Gilroy';
    src: url('../assets/fonts/Gilroy-Semibold.eot');
	src: url('../assets/fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../assets/fonts/Gilroy-Semibold.woff') format('woff'),
		url('../assets/fonts/Gilroy-Semibold.svg#Gilroy-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}