// colors
$body: #242731;

$hintBgc: #302e5a;

$pink: #ff3459;
$blue: #4252d1;

$decor: #332f65;

// Form vars
$formBackgroundColor: #303a53;
$inputBackgroundColor: #272d3d;
$placeholderColor: #d7d7d7;